 <div class="navbar-blue fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between ">
    <%= image_tag 'logo.png', class: "logo" %>
    <%= image_tag 'avatar.jpg', class: "avatar" %>
  </div>
</div>
<br>
<br>
<br>

<div class="container">
<div class="d-flex justify-content-between align-items-center sticky-top" style="background-color: #F4F4F4">
  <h1>New coctail</h1>
  <%= link_to "cancel", cocktails_path, class: "btn btn-outline-secondary btn-sm rounded-pill" %>
</div>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit "Add cocktail", class: "btn btn-outline-primary btn-sm rounded-pill" %>
<% end %>
</div>
